ul.navigation{
  background-color: white;
  display: inline-block;
  list-style: none;
  margin-top: 0;
  width: 100%;
  hieght: 35px;
}
ul.navigation li {
  display: inline-block;
}
ul.navigation a {
  color: black;
  display:block;
  padding: 10px;
  text-decoration: none;
  transition: .3s background-color, .3s color;
}
ul.navigation a:hover {
  background-color: black;
  color: white;
}
h1,
  p {
color: white;
font-size: 20px;
padding: 10px;
border-top: 4px dotted rgb(0,0,0);
margin-left: auto;
margin-right: auto;
margin: 10px;
width: 300pc;
}
p {
  transition: .5s width;
}
p:hover {
  width: 450px;
}
p em{
  color: red;
}
img{
  display: black;
  margin: auto;
}
li{
  color: white;
}
table{
  color: white;
}
body {
  background-color: blue;
  font-family: fantasy;
  color: white;
  margin-top: 10px;
  background-attachment: fixed;
  background-image: url(splash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*body{
background-attachment: fixed;
background-image: url(splash.jpg)
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
} */
/* unvisited link */
a:link{
  color: rgb(255, 0, 0);
}
/* visted link */
a:visited{
  color: rgb(0, 225, 0);
}
/* mouse over link */
a:hover{
  color: rgb(255, 0, 225);
}
/* selected link */
a:active {
  color: rgb(255, 0, 225);
}
.quote{
  font-style: italic;
}
#special{
  color: white;
}
